@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
	margin: 0;
	padding: 0;
  }

  header a,
  a:visited {
	text-decoration: none;
	color: #fcfcfc;
  }
  
  body
  {
	  overflow-x: hidden !important;
  }
  @keyframes move-twink-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: -10000px 5000px;
	}
  }
  @-webkit-keyframes move-twink-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: -10000px 5000px;
	}
  }
  @-moz-keyframes move-twink-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: -10000px 5000px;
	}
  }
  @-ms-keyframes move-twink-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: -10000px 5000px;
	}
  }
  
  @keyframes move-clouds-back {
	from {
	  background-position: 0 center;
	}
	to {
	  background-position: 10000px 0;
	}
  }
  @-webkit-keyframes move-clouds-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: 10000px 0;
	}
  }
  @-moz-keyframes move-clouds-back {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: 10000px 0;
	}
  }
  @-ms-keyframes move-clouds-back {
	from {
	  background-position: 0;
	}
	to {
	  background-position: 10000px 0;
	}
  }
  
  .stars,
  .twinkling,
  .clouds {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
  }
  
  .stars {
	background: #000
	  url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
	  center;
	z-index: 0;
	position: fixed !important;
  }
  
  .twinkling {
	background: transparent
	  url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
	  top center;
	z-index: 1;
  
	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
  } 
   
  .clouds {
	z-index: 3;
	background-size: 80%;
	background-position: fixed;
	-moz-animation: move-clouds-back 200s linear infinite;
	-ms-animation: move-clouds-back 200s linear infinite;
	-o-animation: move-clouds-back 200s linear infinite;
	-webkit-animation: move-clouds-back 200s linear infinite;
	animation: move-clouds-back 200s linear infinite;
  }

  body::-webkit-scrollbar-track {
	background: red;
  }
  body::-webkit-scrollbar-thumb {
	background-color: red;
	border-radius: 6px;
	border: 3px solid red;
  }