.comming_soon_image
{
    width: 20%;
}

.comming_soon_holder
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    font-weight: bold;
    font-size: 9em;
}

.comming_soon_holder p
{
    opacity: 0.1;
}


@media all and (max-width: 480px) { 
    .comming_soon_holder
    {
        font-size: 4em;
        text-align: center;
    }
    .comming_soon_image
    {
        width: 55%;
    }
}
